<div class="bobine-component">
  <div class="calculate-component">
    <div class="spam-component"></div>
    <div class="input-class">
      <span class="tittle-spam">El flujo inicial del campo:</span>

      <input
        class="input"
        type="text"
        name="campI"
        [(ngModel)]="campI"
        (keypress)="onKeyPress($event)"
        (input)="onInputEvent()"
        (focus)="setFocusedOnInput($event)"
        title="Flujo inicial"
      />
      <span class="tittle-spam">El flujo final del campo:</span>

      <input
        class="input"
        type="text"
        name="campF"
        [(ngModel)]="campF"
        (keypress)="onKeyPress($event)"
        (input)="onInputEvent()"
        (focus)="setFocusedOnInput($event)"
          title="Flujo final"

      />
      <span class="tittle-spam">t(Tiempo):</span>
      <input
        class="input"
        type="text"
        name="t"
        [(ngModel)]="t"
        (keypress)="onKeyPress($event)"
        (input)="onInputEvent()"
        (focus)="setFocusedOnInput($event)"
        title="Tiempo"
      />
    </div>
    <div class="button-component">
      @for (operator of operators; track $index) {
      <button
        class="button-div"
        [title]="operator.tooltip"
        (click)="inserOperatorToTextBar(operator.label)"
      >
        {{operator.label}}
      </button>
      }
    </div>
  </div>
  <div class="result-component">
    <span class="spam-class">{{messege}} </span>
    <span class="spam-class"> {{result}} V</span>
  </div>
</div>
