html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%; 
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh; 

  background-image: url('/image3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.center-container {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 50px;
}
